* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 50px 350px;
    align-items: center;
}

ul {
    display: flex;
    gap: 25px;
    font-size: 17px;
    color: rgb(74, 73, 73);
    list-style-type: none;
}

a {
    text-decoration: none;
    color: gray;
}

i {
    margin-right: 20px;
    font-size: 25px;
}

.logo {
    font-size: 21px;
    color: rgb(115, 114, 114);

}

.contact {
    padding: 5px 10px;
    border: none;
    background-color: rgb(241, 140, 140);
    border-radius: 4px;
    font-size: 15px;
}

.contact:hover {
    background-color: rgb(248, 65, 65);
}

.container {
    text-align: center;
    line-height: 31px;
    margin-top: 50px;

}

.introduction {
    margin-top: 30px;
    font-size: 22px;
    color: rgb(83, 81, 81);

}

.heading {
    font-size: 39px;
    color: rgb(54, 53, 53);
}

.container b {
    font-weight: bolder;
    font: 1000;
    color: rgb(161, 18, 18);
}

.second-heading {
    margin-top: 6%;
    font-size: 30px;
    color: rgb(43, 43, 43);
    text-align: center;
}

.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 50px auto;
}

.skills li {
    font-size: 15px;
    border-radius: 5px;
    font-weight: bold;
    background-color: #edf2f7;
    padding: 20px;
    min-width: 500px;
}

.skills {
    font-size: 25px;

}

.projects {
    width: 55%;
    margin: 0px auto;
}

.project {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-top: 50px;
}

.project img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.game { 
    font-size: 23px;
    color: black;
    font: 1000;
}

.about-g {
    font-size: 20px;
    margin-top: 16px;
    color: rgb(38, 37, 37);
}

.icon {
    display: flex;
    gap: 60%;
    margin-top: 17px;
}

.projects {
    margin-top: 0px;
}

.Form {
    text-align: center;
    margin-top: 80px;
}

.contact {
    font-size: 24px;
}

.input {
    margin-top: 35px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.name {
    padding: 13px;
    text-align: center;
    width: 100%;
    color: rgb(87, 86, 86);
    outline: none;
    font-size: 17px;
    text-align: start;

}

.click {
    margin-top: 30px;
    padding: 11px;
    width: 100%;
    background-color: rgb(249, 90, 62);
    border: none;
    font-size: 18px;
    border-radius: 5px;

}

.click:hover {
    background-color: rgb(248, 65, 65);
    cursor: pointer;
}

.mpd {
    display: flex;
    gap: 200px;
    justify-content: center;
    margin-top: 100px;
    align-items: center;
}

.year {
    color: rgb(96, 95, 95);
}

.school {
    color: black;
}

.class {
    margin-top: 13px;
}

.icon i {
    font-size: 15px;
    margin-left: 10px;
}
.soft-skill{
    text-align: center;
    justify-content: center; 
    margin: 50px auto;
    width: 60%;
    flex-direction: column;
    gap: 50px;
    
}
.soft-skill li{
    padding: 50px;
    background-color: #edf2f7;

}

.Communication{
    font-size: 26px;
}
.about-communiction{
    margin-top: 12px;
    font-size: 19px;
}
.map{
    width: 600px;
    height: 450px;
}

@media only screen and (max-width: 600px) {
    header{
        padding: 20px;
        flex-direction: column;
        gap: 20px;
    }
    .skills li{
        min-width: 300px;
    }
    .soft-skill{
        width: 90%;
    }
    .mpd{
        flex-direction: column;
    }
    .project{
        flex-direction: column;
    }
    .input{
        width:70%;
    }
    .map{
        width: 300px;
    }
  }